body 
{
  background-color: white;
  font-family: 'Times New Roman', sans-serif;
  font-family: Arial, sans-serif;
  background-color: black;
}
.dropdown 
{
  position: relative;
  display: inline-block;
}
.dropbtn 
{
  padding: 10px 20px;
  font-size: 13px;
  cursor: pointer;
  background-color: #0c0c0c00; 
  border: none;
  color: white;     
}
.dropdown-content {
display: none;
position: absolute;
background-color: #3a3737a9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
border-radius: 5px;
backdrop-filter: blur(20px);
}
.dropbtn:hover, .dropbtn:focus 
{
  background-color: #050505;
}
.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}   
.dropdown:hover .dropdown-content {
display: block;
}
h4 {
  color: white;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5%;
  margin-bottom: -3%;
}
.chat {
  color: white;
  font-size: 65px;
  margin-top: 3%;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  color: white;
}
.unordered {
  display: flex;
  justify-content: space-around;
}
li>a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  color: white;
}
.sear {
  margin-left: 30%;
  margin-right: 5%;
}
.cha {
  margin-right: 30%;
}
.color {
  filter: invert(1);
}
svg:hover {
  cursor: pointer;
}
button {
  height: 40px;
  width: 150px;
  border: none;
  background-color: white;
  border-radius: 20px;
  font-size: medium;
}
.btn:hover {
  cursor: pointer;
  transition: all 0.4s ease-out;
  background-color:rgb(206, 198, 198) ;
  text-decoration: none;
}
.gap {
  padding: 10px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}
.gpt {
  text-align: left;
  margin-left: 23%;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2%;
  line-height: 30px;
}
.gpt>a {
  text-decoration: underline;
  text-decoration-color: grey;
}
.gpt>a:hover {
  cursor: pointer;
  text-decoration-color: white;
}
.arr {
  margin-left: 5px;
}
.gap:hover {
  text-decoration: underline;
  text-decoration-color: white;
}
.top {
  margin-top: 175px;
}
a {
  color: white;
}
.wrap {
  text-align:left;
  display: inline-block;
}
.container {
  text-align: center; 
}


